<%- include('include/_header') %>

<main class="site-main">
    <div class="container">
        <div class="d-flex-justify-between">
            <div class="filter">
                <a href="/"><i class="fas fa-angle-double-left"></i>Все пользователи</a>
            </div>
        </div>
        <div class="form-title">
            <span class="text-light">Форма обновления пользователя</span>
        </div>
        
        <form action="POST" id="update-user">
            <div class="new__user">
                <div class="form-group">
                    <label for="name" class="text-light">Name</label>
                    <input type="hidden" name="id" value="">
                    <input type="text" name="name" value="" placeholder="NIKITAAAAAAA">
                </div>
                <div class="form-group">
                    <label for="Email" class="text-light">Email</label>
                    <input type="text" name="email" value="" placeholder="example@gmail.com">
                </div>  
                <div class="form-group">
                    <label for="gender" class="text-light">Пол</label>
                    <div class="radio">
                        <input type="radio" name="gender" value="мужчина">
                        <label for="gender" class="text-light">мужчина</label>
                    </div>
                    <div class="radio">
                        <input type="radio" name="gender" value="женщина">
                        <label for="gender" class="text-light">женщина</label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="status" class="text-light">Статус</label>
                    <div class="radio">
                        <input type="radio" name="status" value="активный">
                        <label for="gender" class="text-light">активный</label>
                    </div>
                    <div class="radio">
                        <input type="radio" name="status" value="неактивный">
                        <label for="gender" class="text-light">неактивный</label>
                    </div>
                </div>
                    <div class="form-group">
                        <button type="submit" class="btn text-dark">Добавить</button>
                    </div>
            </div>
        </form>

    </div>
</main>

<%- include('include/_footer') %>